<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Available Cocktails</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

</head>

<body>
    <header class="is-size-0.5">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://cdn.shopify.com/s/files/1/0249/3988/8733/files/The_Modern_Home_Bar_Logo_2_Cropped_360x.png?v=1556052310" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  Home
                </a>
          
                <a class="navbar-item" href="/shelf">
                  My shelf
                </a>

                <a class="navbar-item" href="/availables">
                    Available cocktails
                  </a>
          
                </div>
              </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div style="margin:0 auto">                            
                        <p>Hi {{username}}</p>
                    </div>
                  <div class="buttons">
                    <a class="button is-primary is-rounded button is-small" href="/logout">
                      <strong>Log out</strong>
                    </a>
                </div>
            </div>
          </div>
        </nav>
    </header>
    <section class="section">
        <div class="container">
            <h1 class="title">
                What cocktails can I make?
            </h1>
            <h2>Available cocktails: </h2>
            <table class="table is-hoverable">
                <thead>
                    {% for k in available_cocktails[0] %}
                    <th>{{k}}</th>
                    {% endfor %}
                </thead>
                {% for cocktail_details in available_cocktails %}
                <tr>
                    {% for k, v in cocktail_details.items() %}
                    <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</body>

</html>