<!DOCTYPE html>
<html lang="en">

<head>

    <title>LOGIN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <header class="is-size-0.5">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="https://cdn.shopify.com/s/files/1/0249/3988/8733/files/The_Modern_Home_Bar_Logo_2_Cropped_360x.png?v=1556052310" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="/">
                  Home
                </a>
          
                <a class="navbar-item" href="/shelf">
                  My shelf
                </a>

                <a class="navbar-item" href="/availables">
                    Available cocktails
                  </a>
          
                </div>
                </div>
              </div>
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary is-rounded button is-small">
                      <strong>Register</strong>
                    </a>
                    <a class="button is-light is-rounded button is-small" href="/login">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>    
    </header>
    <section class="level">
        <h1 class="is-size-1 level-item has-text-centered">LOGIN</h1>
    </Section>
    <div id="registration" class="container"></div>
        <form id="level" method="POST" action="/login">
            <div class="level-item has-text-centered">
            <label for="username">username:</label>
            <input type="text" id="username" name="username">
            <label class="ml-4" for="password">password:</label>
            <input type="password" id="password" name="password"></div>
            <div class="level-item has-text-centered m-5">
            <button tabindex="0">Login!</button></div>
        </form>
    </div>
</body>

</html>