<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My shelf</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>

<body>
    <section class="section level columns">
        <div class="container level-item has-text-centered column">
            <header class="is-size-0.5">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                      <a class="navbar-item" href="/">
                        <img src="https://cdn.shopify.com/s/files/1/0249/3988/8733/files/The_Modern_Home_Bar_Logo_2_Cropped_360x.png?v=1556052310" width="112" height="28">
                      </a>
                  
                      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                      </a>
                    </div>
                  
                    <div id="navbarBasicExample" class="navbar-menu">
                      <div class="navbar-start">
                        <a class="navbar-item" href="/">
                          Home
                        </a>
                  
                        <a class="navbar-item" href="/shelf">
                          My shelf
                        </a>
        
                        <a class="navbar-item" href="/availables">
                            Available cocktails
                          </a>
                  
                        </div>
                      </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div style="margin:0 auto">                            
                                <p>Hi {{username}}</p>
                            </div>
                          <div class="buttons">
                            <a class="button is-primary is-rounded button is-small" href="/logout">
                              <strong>Log out</strong>
                            </a>
                        </div>
                    </div>
                  </div>
                </nav>
            </header>

                <h1 class="is is-size-3 m-2">Add a drink to your shelf:</h1>
            </header>
            <div id="insert drink">
                <form id="dirnks" method="POST" action="/shelf">
                    <label for="drink">Bevarage type:</label>
                    <select type="text" id="drink" name="drink">
                        {% for id, name in alcohols.items() %}
                        <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                    </select>
                    <label for="amount">Amount (by bottles):</label>
                    <input type="text" id="amount" name="amount">
                    <button tabindex="0">Submit</button>
                </form>
            </div>
            <div class="is-size-3 column level-item has-text-centered column level">
                <h2>My shelf: </h2>
                <table class="table level-item has-text-centered">
                    {% for drink, amount in my_shelf.items() %}
                    <tr>
                        <td>{{drink}}</td>
                        <td>{{amount}}</td>
                        <td><a class="button" href="/delete/{{drink}}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
</body>

</html>